
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.payment{
    display: block;
    width: 960px;
    max-width: 100%;
    margin: 120px auto;
    margin-bottom: 240px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 0 2px 1px #cdcdcd;
}

.payment .payment__header{
    width: 100%;
    height: 80px;
    text-align: center;
    padding: 12px 0;
}

.payment .payment__header span{
    font-size: 32px;
    font-weight: 300;
    line-height: 80px;
}

.payment .payment__info{
    width: 100%;
    padding: 32px 64px;
}

.payment .payment__info .wrapper{
    display: flex;
    flex-direction: column;
}

.payment .payment__info span{
    margin-top: 12px;
    font-size: 20px;
    font-weight: 300;
}

.payment .payment__info .info__input{
    width: 100%;
    height: 36px;
    max-width: 480px;
    margin: 12px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-indent: 12px;
}

.payment .payment__method{
    width: 100%;
    padding: 32px 64px;
}

.payment .payment__method .payment__method-heading{
    font-size: 20px;
    font-weight: 400;
    margin: 16px 0;
}

.payment .payment__method .payment__method-choice{
    list-style: none;
    display: flex;
    align-items: center;
}

.payment .payment__method-choice input{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.payment .payment__method-choice .des{
    width: 380px;
    display: flex;
    align-items: center;
}

.payment .payment__method-choice .des__icon{
    width: 54px;
    height: 30px;
    margin: 12px;
}

.payment .payment__method-choice .des__icon img{
    width: 100%;
    height: 100%;
}

.payment .payment__method-choice .des__heading{
    flex: 1;
    line-height: 20px;
}

.payment .payment__content{
    margin: 16px 32px;
    padding-bottom: 32px;
}

.payment .payment__content h4{
    font-size: 18px;
    margin: 32px 0;
}

.payment .payment__content .product{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 16px 0;
}

.payment .payment__content .product a{
    color: #000;
    text-decoration: none;
}

.payment .payment__content .product__img{
    max-width: 25%;
    margin-right: 24px;
}

.payment .payment__content .product__img img{
    width: 140px;
    max-width: 100%;
    aspect-ratio: 5/7;
    border: 1px solid #ccc;
}

.payment .payment__content .product__info{
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.payment .product__info .description{
    margin: 16px 24px;
}

.payment .product__info .description__heading{
    margin-bottom: 24px;
}

.payment .product__info .description__heading a{
    font-size: 20px;
    line-height: 24px;
}

.payment .product__info .description__price{
    font-size: 16px;
    font-weight: 600;
}

.payment .product__info .description__price del{
    font-size: 12px;
    font-weight: 300;
    color: #555;
}

.payment .product__info .price{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.payment .product__info .price__quantity{
    font-size: 20px;
    font-weight: 300;
}

.payment .payment__info .info__input{
    width: 100%;
    height: 40px;
    max-width: 80%;
    margin: 12px 64px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-indent: 12px;
}

.payment .payment__method{
    width: 100%;
    padding: 32px 64px;
}

.payment .payment__method .payment__method-heading{
    font-size: 22px;
    color: #30ab00;
    font-weight: 400;
    margin: 16px 0;
}

.payment .payment__method li{
    list-style: none;
    display: flex;
    align-items: center;
}

.payment .payment__method li input{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.payment .payment__method li .des{
    width: 380px;
    display: flex;
    align-items: center;
}

.payment .payment__method li .des__icon{
    margin: 12px 16px 8px;
}

.payment .payment__controls{
    width: 100vw;
    position: fixed;
    z-index: 1;
    left: 0;
    bottom: 0;
    padding-bottom: 32px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    box-shadow: 0 0 10px 2px #dadada;
    border-radius: 6px;
}

.payment .payment__controls .wrapper{
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.payment .payment__controls-back{
    color: #ff0000;
    cursor: pointer;
}

.payment .payment__controls-back a{
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #ff0000;
}

.payment .payment__controls-back p{
    display: inline;
}

.payment .payment__controls-price{
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    font-weight: 600;
}

.payment .payment__controls-price span{
    font-size: 20px;
    font-weight: 600;
    color: #ff0000;
}

.payment .payment__controls-confirm{
    float: right;
    margin-right: 32px;
    width: 230px;
    height: 36px;
    background-color: #ff0000;
    border: 1px solid #ff0000;
    border-radius: 6px;
    overflow: hidden;
}

.payment .payment__controls-confirm button{
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

#confirm-payment-btn:hover{
    cursor: pointer;
    opacity: 0.7;
}


.payment .space{
    width: 95%;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
}

/* payment confirm */

.payment__confirm{
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding-top: 42px;
    background-color: #6666665c;
    display: none;
    transition: all 0.3s ease-in;
}

.payment__windown{
    position: relative;
    top: 5%;
    margin: 0 auto;
    width: 400px;
    padding: 36px;
    text-align: center;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 5px 0 #a3d1ff;
}

.payment__windown-close-btn{
    width: 40px;
    height: 40px;
    background-color: #20e3d0;
    border-radius: 20px;
    box-shadow: 0 0 2px 1px #a4a3a3;
    text-align: center;
    position: absolute;
    top: -32px;
    right: -48px;
}

.payment__windown-close-btn:hover{
    cursor: pointer;
    opacity: 0.85;
}

.payment__windown-close-btn i{
    font-size: 28px;
    color: #ffffff;
    margin-top: 50%;
    transform: translateY(-50%);
}

.payment__windown-title{
    font-size: 36px;
}

.payment__windown-img{
    width: 100%;
    padding: 32px 0;
}

.payment__windown-btn{
    min-width: 140px;
    height: 46px;
    margin: 0px 8px;
    font-size: 16px;
    border: none;
    color: #FFFFFF;
}

.payment__windown-btn:hover{
    cursor: pointer;
    opacity: 0.7;
}

.payment__windown-btn--cancel{
    background-color: #ea0202;
}

.payment__windown-btn--accept{
    background-color: #13a113;
}

/* Payment complete */
.payment-complete{
    display: none;
    width: 960px;
    max-width: 80%;
    margin: 120px auto;
    margin-bottom: 240px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 0 2px 1px #cdcdcd;
    padding-bottom: 20px;
}

.payment-complete__header{
    text-align: center;
    padding: 20px 0;
    font-size: 32px;
}

.payment-complete__box-info{
    font-size: 20px;
    padding: 12px 10%;

}

.payment-complete__box-mess{
    color: red;
    font-size: 16px;
    padding: 20px 10%;
}

.payment-complete__btn{
    margin-left: 75%;
    padding: 12px 8px;
    margin-top: 8px;
    background-color: #13a113;
    border: none;
    color: #fff;
    font-size: 16px;
}

.payment-complete__btn:hover{
    cursor: pointer;
    opacity: 0.7;
}